*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ButtongColor: #2816E3;
    --WeakBackgroundColor: #242445;
    --BackgroundColor: #111120;
    --TextColor: #8A87B1;
}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.main_Landing {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--BackgroundColor);
    border-top: 1px solid var(--TextColor);
}

.Category_list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.Category_list h4 {
    align-self: flex-start;
    margin-left: 120px;
     

}

.Stories_container div {
    margin: 10px;
}

.Story_genres p {
    display: flex;
    background-color: var(--WeakBackgroundColor);
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
}

.Main_stories {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

.Main_stories h3 {
    color: var(--TextColor);
}



/* for responsiveness  mobile*/
@media only screen and (max-width: 720px) {

    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    }


    .welcome_text {
        color: var(--blueColor);
    }

    .hero_section_header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hero_section_header div .fa {
        padding: 5px;
    }

    .image_landing {
        display: none;
    }


    .hero_section {
        font-size: .8rem;
    }


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* remove link style on a tag */
    a, button {
        all: unset;
    }


}

/* 
for ipads and tables */
@media only screen and (max-width: 920px) {
    body {
        min-width: 360px;
    }

    .ngana_logo {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 30px;
    }

    .hero_section {
        font-size: .8rem;
    }

    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* for portfolio */
    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

}



/* 
  for dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}