*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --ButtongColor: #2816E3;
    --WeakBackgroundColor: #242445;
    --BackgroundColor: #111120;
    --TextColor: #8A87B1;
    --WhiteColor: #f9f9f9;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--BackgroundColor);
    padding: 10px 20px;
  }
  
  .navbar h4 {
    margin-right: auto;
    font-size: 1.5rem;
    color: var(--WhiteColor);
    display: flex;
    align-items: center;
  }
  
  .navbar .search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .navbar .search-container .MuiIconButton-root {
    margin: 7px;
  }
  
  .navbar .avatar-button {
    margin-left: 16px;
  }
  
  .menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu-items .MuiIconButton-root {
    margin: 7px;
  }
  
  /* For mobile and smaller devices */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar h4 {
      margin-right: 0;
      font-size: 1.2rem;
      text-align: center;
      width: 100%;
    }
  
    .search-container {
      width: 100%;
      justify-content: space-between;
    }
  
    .avatar-button {
      margin-left: 0;
    }
  
    .menu-items {
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
    }
  
    .menu-items .MuiIconButton-root {
      margin: 5px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar h4 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .search-container .MuiIconButton-root {
      font-size: 1rem;
    }
  
    .menu-items .MuiIconButton-root {
      font-size: 1.2rem;
      margin: 5px;
    }
  }
  