:root {
    --ButtongColor: #2816E3;
    --WeakBackgroundColor: #242445;    
    --BackgroundColor: #111120;
    --TextColor: #8A87B1;
    --WhiteColor: #f9f9f9;
  
}

.story-genres {
    padding: 20px;
    text-align: left;
  }
  
  .story-genres h4 {
    margin-left: 0;
    font-size: 1.2rem;
    color: var(--WhiteColor);
  }
  
  .story-genres div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .story-genres p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    color: var(--WhiteColor);
    background-color: var(--WeakBackgroundColor);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .story-genres p:hover {
    background-color: var(--TextColor);
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .story-genres svg {
    margin-right: 8px;
    font-size: 1.5rem;
    color: var(--WhiteColor);
  }
  